/adiencedataset
UTKDataset/*
deep-cnn/*
logs/*
tb_logs/*
architecture.png
img/*
CZ4042-model-lite_q.tflite
checkpoint2/*
checkpoint2/variables/variables.index
checkpoint2/variables/variables.data-00000-of-00001
checkpoint2/saved_model.pb
checkpoint2/keras_metadata.pb
5convmodel/variables/variables.index
5convmodel/variables/variables.data-00000-of-00001
5convmodel/saved_model.pb
5convmodel/keras_metadata.pb
3conv-model/variables/variables.index
3conv-model/variables/variables.data-00000-of-00001
3conv-model/saved_model.pb
3conv-model/keras_metadata.pb
3conv-model-normalconv/variables/variables.index
3conv-model-normalconv/variables/variables.data-00000-of-00001
3conv-model-normalconv/saved_model.pb
3conv-model-normalconv/keras_metadata.pb
3conv-model-normalconv-dropout/variables/variables.index
3conv-model-normalconv-dropout/variables/variables.data-00000-of-00001
3conv-model-normalconv-dropout/saved_model.pb
3conv-model-normalconv-dropout/keras_metadata.pb
3conv-model-dropout/variables/variables.index
3conv-model-dropout/variables/variables.data-00000-of-00001
3conv-model-dropout/saved_model.pb
3conv-model-dropout/keras_metadata.pb
3conv-model-dropout-histeq/variables/variables.index
3conv-model-dropout-histeq/variables/variables.data-00000-of-00001
3conv-model-dropout-histeq/saved_model.pb
3conv-model-dropout-histeq/keras_metadata.pb
11-11-21-Model/variables/variables.index
11-11-21-Model/variables/variables.data-00000-of-00001
11-11-21-Model/saved_model.pb
11-11-21-Model/keras_metadata.pb
checkpoint2/keras_metadata.pb
checkpoint2/saved_model.pb
checkpoint2/variables/variables.data-00000-of-00001
checkpoint2/variables/variables.index
model-1/keras_metadata.pb
model-1/saved_model.pb
model-1/variables/variables.data-00000-of-00001
model-1/variables/variables.index
model.png
model_2/keras_metadata.pb
model_2/saved_model.pb
model_2/variables/variables.data-00000-of-00001
model_2/variables/variables.index
multipath-model-2/keras_metadata.pb
multipath-model-2/saved_model.pb
multipath-model-2/variables/variables.data-00000-of-00001
multipath-model-2/variables/variables.index
output.png
t.jpg
t2.jpg
t3.jpg
model.png
deeper-cnn-2/variables/variables.index
deeper-cnn-2/variables/variables.data-00000-of-00001
deeper-cnn-2/saved_model.pb
deeper-cnn-2/keras_metadata.pb
model.png